scipy==1.8.0
numpy==1.22.3
pandas==1.2.4
dash==1.1.0
dash-core-components==1.1.0
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.1.0
dash-table-experiments==0.6.0
plotly==5.3.1
Werkzeug==2.0.0
openpyxl==3.0.9
dash-uploader==0.6.0
packaging==21.3
